:root {
    --scooter-50: #ecfdff; /*Light shades color */
    --scooter-100: #d0f6fd; /*Light shades color */
    --scooter-200: #a7ebfa; /*Light shades color */
    --scooter-300: #6adcf6; /*Secondary color */
    --scooter-400: #25c2e9; /*Primary color */
    --scooter-500: #0ba6cf; /*Primary color */
    --scooter-600: #0c84ae; /*Secondary color */
    --scooter-700: #116a8d; /*Secondary color */
    --scooter-800: #175773; /*Dark shades color */
    --scooter-900: #184861; /*Dark shades color */
    --scooter-950: #092e43; /*Dark shades color */
}

